<header>
  <div class="header-inner">
    <a href="/" class="logo">c<span class="ai">AI</span>ge</a>
    <nav>
      <a href="/training/overview">Training</a>
      <a href="/exam">Exam</a>
    </nav>
  </div>
</header>
